.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  margin-bottom: 0;
}

.main h2 {
  font-family: "MV Boli";
}

.table {
  margin-top: 1.5em;
  width: 100%;
  border-collapse: collapse;
}

.table tr:nth-child(odd){background-color:rgba(255,255,255,0.1);}

.table tr:hover {background-color: #ddd;}

.iconButton {
  border: none;
  background: none;
  font-size: 1em;
  color: white;
  outline: none !important;
}

.iconButton.trash:hover {
  color: #DC143C;
}

.iconButton.copy:hover {
  color: #0080FF;
}

.iconButton:active {
  color: white;
}

.shortenButton {
  border: 1px solid;
  border-radius: 3px;
  /* background: none; */
  background-color: #999;
  font-size: 1em;
  font-weight: bold;
  color: white;
  margin-left: 0.5em; 
}

.shortenButton:hover {
  color: #00A572;
  background-color: #FFF;
}
